@model List<frontend.Models.AdministradorModel>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Lista de Administradores</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">General</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section" class="main">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datatables</h5>
                        <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable. Check for <a href="https://fiduswriter.github.io/simple-datatables/demos/" target="_blank">more examples</a>.</p>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Activo</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var admin in Model)
                                {
                                    <tr>
                                        <td>@admin.Id_Administrador</td>
                                        <td>@admin.Nombre</td>
                                        <td>@admin.Correo</td>
                                        <td>@admin.Activo</td>
                                        <td>
                                            <a href="@Url.Action("Edit", new { id = admin.Id_Administrador })">Editar</a> |
                                            <a href="@Url.Action("Deactivate", new { id = admin.Id_Administrador })">Desactivar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
